* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2px;
    display: grid;
    grid-template: 25% 50% / 25% 50%;
    grid-template-areas: "card-corner ."
                        ". card-number";
}

.card--small {
    width: 150px;
    height: 225px;
}

.card--large {
    width: 200px;
    height: 300px;
}

.card--red {
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 10, 10));
}

.card--green {
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(51, 255, 10));
}

.card--yellow {
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 239, 10));
}

.card--blue {
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(0, 65, 135));
}

.card--black {
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(0, 0, 0));
}

.card__corner {
    color: white;
    font-size: 33px;
    grid-area: card-corner;
    align-self: center;
    justify-self: flex-end;
}

.card__number {
    color: black;
    font-size: 100px;
    grid-area: card-number;
    align-self: center;
    justify-self: center;
}

.deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerName {
    font-size: 25px;
    font-family: sans-serif;
    padding: 2px;
    border: 2px solid black;
    margin: 5px;
}

.actualPlayerDeck {
    margin: 10px;
}

.actualCard {
    margin: 5px;
}

.eatCardButton {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: rgb(51, 255, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px outset green;
    margin: 5px;
}

.eatCardButton:active {
    border-style: inset;
}

.eatCardButton p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}